.menu__list__item{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.menu__list__contacto{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    color: white;
}

