.skills__box{
    width:152px;
    height: 164px;
    background: #FFFFFF;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;

}

.hobbies__box{
    width:172px;
    height: 145px;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
}